{% load static %}
<!doctype html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>SSD Gene</title>
</head>

<body style="background-color:beige">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SSD GENE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="location.href='{% url 'pages-home' %}'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="location.href='{% url 'pages-results' %}'">Top Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="location.href='{% url 'pages-methods' %}'">Methods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="location.href='{% url 'pages-about' %}'">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="location.href='{% url 'pages-contacts' %}'">Contact</a>
        </li>
      </ul>
    </div>
  </nav>


  <div id="contactcard" style="position:relative; top:75px;" align="center">
    <div class="card" style="width: 60rem;">
      <div class="card-body">
        <h5 class="card-title">Input New Study</h5>

        <form>
          <div class="form-group">
            <select class="custom-select my-2" id="design">
              <option selected>Choose Design Type...</option>
              <option value="1">GWA</option>
              <option value="2">FBAT</option>
              <option value="3">Quantitative</option>
            </select>

            <select class="custom-select my-2" id="disorder_t">
              <option selected>Choose Disorder Type...</option>
              <option value="1">reading</option>
              <option value="2">speech</option>
              <option value="3">learning</option>
            </select>

            <select class="custom-select my-2" id="population">
              <option selected>Choose Population Type...</option>
              <option value="1">African</option>
              <option value="2">Ad Mixed American</option>
              <option value="3">East Asian</option>
              <option value="4">European</option>
              <option value="5">South Asian</option>
              <option value="6">All</option>
            </select>

            <select class="custom-select my-2" id="ethnicity">
              <option selected>Choose Ethnicity Type...</option>
              <option value="1">CHB</option>
              <option value="2">JPT</option>
              <option value="3">CHS</option>
              <option value="4">CDX</option>
              <option value="5">KHV</option>
              <option value="6">CEU</option>
              <option value="7">TSI</option>
              <option value="8">FIN</option>
              <option value="9">GBR</option>
              <option value="10">IBS</option>
              <option value="11">YRI</option>
              <option value="12">LWK</option>
              <option value="13">GWD</option>
              <option value="14">MSL</option>
              <option value="15">ESN</option>
              <option value="16">ASW</option>
              <option value="17">ACB</option>
              <option value="18">MXL</option>
              <option value="19">PUR</option>
              <option value="20">CLM</option>
              <option value="21">PEL</option>
              <option value="22">GIH</option>
              <option value="23">PJL</option>
              <option value="24">BEB</option>
              <option value="25">STU</option>
              <option value="26">ITU</option>
            </select>

            <select class="my-2 custom-select" id="type_of_stud">
              <option selected>Choose Study Type...</option>
              <option value="1">GWAS</option>
              <option value="2">Chromosome #</option>
              <option value="3">Other</option>
              <option value="4">cSNP</option>
              <option value="5">Pooled</option>
              <option value="6">Candidate Gene</option>
            </select>

            <select class="custom-select my-2" id="diagnosis">
              <option selected>Choose Diagnosis Type...</option>
              <option value="1">C</option>
              <option value="2">F</option>
              <option value="3">B</option>
              <option value="4">L</option>
            </select>

            <select class="custom-select my-2" id="source_type">
              <option selected>Choose Source Type...</option>
              <option value="1">CL</option>
              <option value="2">PO</option>
              <option value="3">CO</option>
            </select>

            <select class="custom-select my-2" id="test_type">
              <option selected>Choose Test Type...</option>
              <option value="1">Allele codominant</option>
              <option value="2">Dominant</option>
              <option value="3">Recessive</option>
              <option value="4">Over-dominant</option>
              <option value="5">Additive</option>
            </select>
            <input type="number" class="form-control mb-2 mr-sm-2" id="study_id" placeholder="ID (e.g. 1)">
            <input type="text" class="form-control mb-2 mr-sm-2" id="pmid" placeholder="PMID (e.g. 27098879)">
            <input type="text" class="form-control mb-2 mr-sm-2" id="platform"
              placeholder="Platform (e.g. 4:-plex SNPscan)">
            <input type="number" class="form-control mb-2 mr-sm-2" id="num_SNPs" placeholder="Number of SNPs (e.g. 18)">
            <input type="number" class="form-control mb-2 mr-sm-2" id="num_polys" placeholder="Number of polys">
            <input type="text" class="form-control mb-2 mr-sm-2" id="case_n" placeholder="Case N (e.g. 195)">
            <input type="text" class="form-control mb-2 mr-sm-2" id="case_perc_fem"
              placeholder="Case percent female (e.g. 36)">
            <input type="number" class="form-control mb-2 mr-sm-2" id="case_age" placeholder="Case age (e.g. 10.99)">
            <input type="number" class="form-control mb-2 mr-sm-2" id="control_n" placeholder="Control N (e.g. 196)">
            <input type="number" class="form-control mb-2 mr-sm-2" id="control_perc_fem"
              placeholder="Control percent female (e.g. 38)">
            <input type="number" class="form-control mb-2 mr-sm-2" id="control_age"
              placeholder="Control age (e.g. 10.99)">
            <input type="number" class="form-control mb-2 mr-sm-2" id="num_families" placeholder="Number families">
            <input type="number" class="form-control mb-2 mr-sm-2" id="num_affected" placeholder="Number affected">
            <input type="number" class="form-control mb-2 mr-sm-2" id="num_generations"
              placeholder="Number generations">
            <input type="number" class="form-control mb-2 mr-sm-2" id="mean_score" placeholder="Mean score">
            <input type="number" class="form-control mb-2 mr-sm-2" id="sd_score" placeholder="SD score">
            <input type="text" class="form-control mb-2 mr-sm-2" id="measure_used" placeholder="Measure used">
            <input type="link" class="form-control mb-2 mr-sm-2" id="hyperlink" placeholder="Hyperlink">
          </div>




          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>