{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Results Page</title>
  <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 1px;
      border: 1px solid #021a40;
      background-color: #e1e5ed;
    }

    p.pad {
      padding: 35px;
    }
  </style>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color:beige">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SSD GENE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="location.href='{% url 'pages-home' %}'">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="location.href='{% url 'pages-results' %}'">Top Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Methods <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="location.href='{% url 'pages-about' %}'">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="location.href='{% url 'pages-contacts' %}'">Contact</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="#" onclick="location.href='{% url 'pages-search' %}'">Search</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content -->
  <div id="methodscard" style="position:relative; top:75px;" align="center">
      <div class="card" style="width: 60rem;">
        <div class="card-body">
          <h5 class="card-title">Methods</h5>
          <div id="bios" align="left">
            <div class="methods clearfix">
              <h6>Finding Relevant Studies</h6>
                <p>How to find relevant studies</p>
            </div>
            <div>
              <h6>Extracting Data from Studies</h6>
              <p>How we extracted data from studies</p>
            </div>
            <div class="methods">
                <h6>Database Design</h6>
              <p>
                  General design of database structure (brief summary, what software, what logic behind design, how it communicates, etc
              </p>
            </div>
            <div class="methods">
                <h6>Statistical Analysis</h6>
              <p>
              </p>
            </div>
            <div class="methods">
                <h6>Glossary of Abbreviations</h6>
              <p>
              </p>
            </div>
          </div>
        </div>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; SSD Gene 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>