
body {
    background-color: beige;
}

.bio-image {
    float:left;
    clear:both;
    position:relative;
}
.bio {
    float:left;
    clear:left;
    position:relative;  
    height: 200px;
    border: 2px solid lightgray;
    margin: 5px;
    border-radius: 5px;
}


.clearfix {
    overflow:auto;
}